*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #37afe1;
  --card-color: #f5f4b3;
  --text-color: #ffffff;
  --card-text: #1e3e62;
  --name-color: #664343;
}

body {
  background-color: var(--background-color);
  text-align: center;
  padding: 10px;
}

.title,
.options,
.team-stats {
  color: var(--text-color);
}

.title {
  margin: 1.3rem 0;
}

.team-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.5rem;
  margin: 1.3rem 0;
}

.options {
  font-size: 1.3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.name {
  color: var(--name-color);
}

.player-card {
  background-color: var(--card-color);
  padding: 1.3rem;
  margin: 1.2rem;
  width: 300px;
  height: 250px;
  border-radius: 30px;
  color: var(--card-text);
}

@media (max-width: 768px) {
  .team-stats {
    flex-direction: column;
  }
}
